@font-face {
    font-family: 'zabars';
    src: url('fonts/zabars.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background: url("img/background.jpg") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    cursor: url("img/icons/mause.png"), auto;
}

.d-none {
    display: none !important;
}

.top-0 {
    top: 0 !important;
}

.translucent-bg {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.gap-0 {
    gap: 0 !important;
}

.width-100 {
    width: 100% !important;
}

.height-100 {
    height: 100vh !important;
}

.border-radius-0 {
    border-radius: 0 !important;
}

#main {
    width: 720px;
    height: 480px;
    position: relative;
}

#headline {
    letter-spacing: 5px;
    font-size: 50px;
}

canvas {
    width: 100%;
    height: 100%;
    background-color: black;
    display: block;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

#utility-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    border-radius: 10px;
}

#start-screen {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

#game-over-screen {
    width: 0;
    height: 0;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

.openInfoScreen-animation {
    animation-fill-mode: forwards;
    animation-name: openScreen;
    animation-duration: 1s;
    animation-delay: 0s;
}

.closeInfoScreen-animation {
    animation-fill-mode: forwards;
    animation-name: closeScreen;
    animation-duration: 1s;
    animation-delay: 0s;
}

.openScreen-animation {
    animation-fill-mode: forwards;
    animation-name: openScreen;
    animation-duration: 1s;
    animation-delay: 1s;
}

#nav-bar-right,
#nav-bar-left {
    display: flex;
    position: absolute;
    top: -72px;
    right: 0;
    z-index: 10;
    gap: 20px;
    padding: 20px;
}

#nav-bar-left {
    left: 0px;
    max-width: max-content;
}

#sound-icon,
#info-icon,
#play-button,
#pause-button,
#play-button-small,
#backward-icon,
#maximize-icon,
#minimize-icon,
#left-button,
#right-button,
#jump-button,
#bottle-button {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    transition: all 0.225s;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: url('img/icons/pointer.png'), auto;
}

#left-button,
#right-button,
#jump-button,
#bottle-button {
    background-color: rgba(0, 0, 0, 0.3);
}

#pause-button,
#play-button-small {
    padding: 0px;
    border-radius: 5px;
}

#play-button-small {
    padding: 0 2px;
}

#pause-button {
    opacity: 0.3;
}

#pause-button:hover {
    opacity: 1;
}

.sound-icon-clicked,
.info-icon-clicked {
    opacity: 0.3 !important;
}

#maximize-icon,
#minimize-icon {
    transform: rotate(90deg);
}

#sound-icon:hover,
#info-icon:hover,
#play-button:hover,
#pause-button:hover,
#play-button-small:hover,
#backward-icon:hover,
#maximize-icon:hover,
#minimize-icon:hover {
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0.8);
}

#play-container,
#pause-container,
#movement-container,
#actions-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#movement-container,
#actions-container {
    max-width: max-content !important;
    ;
    gap: 50px;
    height: 54px;
    margin-left: 20px;
}

#movement-container {
    left: 0;
    display: none;
}

#actions-container {
    right: 0 !important;
    margin-left: 0 !important;
    margin-right: 20px;
    display: none;
}

#actions-container img {
    width: 42px;
    height: 42px;
}

#play-button {
    padding: 0 10px;
}

#pause-container {
    top: 0 !important;
}

#screen-rotate {
    display: none;
    width: 100%;
    height: 100vh;
    z-index: 100;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to bottom, #0B9FC9, #EF9248);
}

#screen-rotate img {
    animation: rotate-animation 4s infinite;
}

#parent-info-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#info-container {
    width: 0;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to bottom, #0B9FC9, #EF9248);
    border-radius: 10px;
    gap: 25px;
    font-size: 24px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#info-container > div {
    display: flex;
    align-items: center;
    gap: 50px;
}

#info-container img {
    width: 80px;
    height: 80px;
}

#info-container span {
    max-width: max-content;
}

#paused-text {
    font-size: 65px;
    letter-spacing: 10px;
    position: relative;
    z-index: 100;
    color: burlywood;
    position: relative;
    z-index: 0;
}

@keyframes rotate-animation {
    0% {
        transform: rotate(-45deg);
    }

    90% {
        transform: rotate(-135deg);
    }

    100% {
        transform: rotate(-45deg);
    }
}

@keyframes openScreen {
    from {
        width: 0;
        height: 0;
    }

    to {
        width: 100%;
        height: 100%;
    }
}

@keyframes closeScreen {
    from {
        width: 100%;
        height: 100%;
    }

    to {
        width: 0;
        height: 0;
    }
}

@media only screen and (max-width: 720px) {
    #headline {
        display: none;
    }

    #main {
        display: none;
        width: 100%;
    }

    #screen-rotate {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #maximize-icon,
    #minimize-icon {
        display: none;
    }
}

@media only screen and (max-height: 480px) {
    #headline {
        display: none;
    }

    #main {
        width: 100%;
        height: 100vh;
        display: block !important;
    }

    #screen-rotate {
        display: none !important;
    }

    #maximize-icon,
    #minimize-icon {
        display: none;
    }

    #info-container,
    canvas,
    #utility-container,
    #game-over-screen {
        border-radius: 0;
    }

    #play-button {
        width: 65px;
    }

    #play-container {
        height: 64px;
    }

    #movement-container,
    #actions-container {
        display: flex;
    }
}